<div class="side-navbar">
    <a href="/Home/ViewHome">
        <h3><i class="fa fa-home" aria-hidden="true"></i> Home</h3>
    </a>
    <a href="/Notification/NotiBoard">
        <h3><i class="fa fa-bell-o" aria-hidden="true"></i> Notification</h3>
    </a>
    <a href="">
        <h3><i class="fa fa-inbox" aria-hidden="true"></i> Message</h3>
    </a>
    <a href="/Home/Logout">
        <h3 id="logout" ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</h3>
    </a>
</div>
